/* Variables */

:root {
  --basic-text: #283136;
  --button-text: #ffffff;
  --basic-headings: #000000;
  --basic-background: #eeeeee;
  --button-background: #FB565A;
  --green-button-background: #00CA74;
  --yellow-button-background: #EFC849;
  --contacts-text: #666666;
  --footer-text: #444444;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);
  }

a {
  text-decoration: none;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

ul {
  list-style: none;
}

/* Header */
.main-header {
  background-color: var(--basic-background);
}

/* Main navigation */
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-headings);
  background-color: transparent;
  text-transform: uppercase;
}
.main-navigation-wrapper {
  background-color: var(--basic-black);
}

.main-header-logo :hover {
  color: var(--basic-headings);
  opacity: 0.7;
}

.main-header-logo :focus {
  color: var(--basic-headings);
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-headings);
}

.site-navigation a:hover {
  color: var(--button-background);
}

.site-navigation a:focus {
      background-color: var(--basic-headings);
      opacity: 0.3;
}

/* section-features */
.features {
  background-color: var(--basic-background);
}

.feature-slider h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.button {
  color: var(--button-text);
  background-color: var(--button-background);
  text-transform: uppercase;
}

.green {
  background-color: var(--green-button-background);
}

.yellow {
  background-color: var(--yellow-button-background);
}

/* section-about us*/

.about-description h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-headings);
}

.about-description span {
  font-weight: 700;
}

.about-numbers span {
  font-weight: 700;
  color: var(--basic-headings);
}

.numbers {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.numbers span {
  font-size: 26px;
  line-height: 40px;
}

/* section-form*/
.form-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-headings);
}
/* Catalog */

.main-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  background-color: var(--basic-background);
}

.site-navigation a:active {
  color: var(--basic-headings);
  text-decoration: underline;
}
