/* Variables */

:root {
  --basic-text: #283136;
  --button-text: #ffffff;
  --basic-headings: #000000;
  --basic-background: #eeeeee;
  --button-background: #FB565A;
  --hover-button-background: #E74246;
  --active-button-background: #D7373B;
  --slider-button: #C1C1C1;
  --green-button-background: #00CA74;
  --yellow-button-background: #EFC849;
  --contacts-text: #666666;
  --footer-text: #444444;
  --green-hover: #00BC6C;
  --green-active: #00AA62;
  --yellow-hover: #EAB534;
  --yellow-active: #E5A722;
}

/* Global */

.body-page {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-headings);
}

/* Header */
.main-header {
  background-color: var(--basic-background);
}

.main-heading {
  margin: 0 auto;
}

/* Main navigation */
.main-navigation {
  width: 1157px;
  margin: 50px auto;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-headings);
  background-color: transparent;
  text-transform: uppercase;
}

.organization-name {
  display: none;
}

.wrapper section {
  width: 1157px;
  margin: 0 auto;
}

.background-wrapper {
  background-color: var(--basic-background);
}

.background-wrapper h1 {
  text-align: center;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--basic-black);
}

.main-header-logo {
}

.main-header-logo:hover img {
  color: var(--basic-headings);
  opacity: 0.7;
}

.main-header-logo:focus img {
  color: var(--basic-headings);
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  margin-left: 45px;
}

.site-navigation li:first-child {
  margin-left: 0;
}

.site-navigation a {
  color: var(--basic-headings);
}

.site-navigation a:hover {
  color: var(--button-background);
}

.site-navigation a:focus {
  background-color: var(--basic-headings);
  opacity: 0.3;
}

.site-navigation a:active {
  color: var(--basic-headings);
  text-decoration: underline;
}

.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  color: var(--basic-headings);
  margin-left: 25px;
}

.cart:hover {
  color: var(--button-background);
}

.cart:focus {
  background-color: var(--basic-headings);
  opacity: 0.3;
}

.cart:active {
  color: var(--basic-headings);
  text-decoration: underline;
}

/*  section-features */

.features {
  position: relative;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--basic-background);
  margin-bottom: 80px;
}

.feature-slider {
  width: 538px;
  z-index: 2;
}

.feature-slider p {
  margin-bottom: 38px;
}

.feature-img {
  width: 760px;
  z-index: 1;
  margin-left: -141px;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-headings);
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--button-text);
  background-color: var(--button-background);
  text-transform: uppercase;
  border: none;
}

.button:hover {
  background-color: var(--hover-button-background);
}

.button:active {
  background-color: var(--active-button-background);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.1);
}

.slider-button {
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
}

.slider-controls button {
  padding: 0;
  margin-right: 17px;
  width: 18px;
  height: 18px;
  background-color: var(--button-text);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.slider-controls {
  position: absolute;
  top: 317px;
  left: 50%;
  z-index: 20;
  display: flex;
}

.slider-controls .current {
  background-color: #fff;
  position: relative;
}

.slider-controls .current::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #C1C1C1;
  position: absolute;
  right: 4px;
  bottom: 4px;
  z-index: 50;
  text-align: center;
}

.slide {
  display: none;
}

.slide-current {
  display: grid;
}

.pink {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
}

.green {
  background-color: var(--green-button-background);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
}

.green:hover {
  background-color: var(--green-hover);
}

.green:active {
  background-color: var(--green-active);
  color: var(--button-text);
  opacity: 0.1;
}

.yellow {
  background-color: var(--yellow-button-background);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
}

.yellow:hover {
  background-color: var(--yellow-hover);
}

.yellow:active {
  background-color: var(--yellow-active);
  color: var(--button-text);
  opacity: 0.1;
}

.grey {
  color: var(--basic-headings);
  background-color: var(--basic-background);
}

/*section-service*/
.tagline {
  margin-bottom: 32px;
}

.service h2 {
  display: none;
}

.service-wrapper {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.line {
  margin: 0 auto;
  padding: 0;
  width: 1157px;
  height: 2px;
  background-color: var(--basic-background);
}

/* section-about us*/
.about {
  padding-top: 40px;
  padding-bottom: 70px;
}

.about-description-wrapper {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 140px;
}

.about h2 {
  display: none;
}

.about-description h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-headings);
}

.hyphen {
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: var(--button-background);
  margin-bottom: 5px;
  margin-right: 5px;
}

.about-description ul {
  list-style: none;
  padding: 0;
}

.about-description span {
  font-weight: 700;
}

.about-numbers {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.about-numbers img {
  grid-column-start: 1;
  grid-column-end: 4;
}

.about-numbers span {
  grid-column-start: 1;
  grid-column-end: 4;
  font-weight: 700;
  color: var(--basic-headings);
}

.about-description ul {
  list-style: none;
}

.numbers {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-headings);
  margin-bottom: -5px;
}

.numbers span {
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-headings);
}

.numbers-description {
  line-height: 18px;
}

/* section-partners */

.partners {
  padding-top: 46px;
  padding-bottom: 44px;
}

.partners h2 {
  display: none;
}

.partners-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.partners-logo-img {
  opacity: 0.2;
}

.partners-logo-img:hover {
  opacity: 1;
}

.partners-logo-img:active {
  opacity: 0.1;
}
/* section-form*/

.form h2 {
  display: none;
}

.map {
  width: 100%;
  height: 416px;
  margin-top: 80px;
  position: relative;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-record {
  position: absolute;
  width: 269px;
  height: 258px;
  padding-top: 50px;
  padding-left: 50px;
  background-color: var(--button-text);
  margin-top: -370px;
}

.form-record p {
  line-height: 18px;
  color: var(--contacts-text);
}

.form-record a {
  line-height: 18px;
  color: var(--contacts-text);
}

.form-record .button {
  padding: 15px 44px;
  border-radius: 3px;
  margin-top: 37px;
}

.form-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-headings);
}

.map-marker {
  position: absolute;
  margin-top: -320px;
  margin-left: 750px;
}

.appointment-form {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--footer-text);
}

/* Модальное окно */

.modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 760px;
  height: 450px;
  margin-left: 100px;
  padding: 70px 100px;
  position: absolute;
  top: 1650px;
  background-color: var(--button-text);
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
}

.visually-hidden {
  visibility: hidden;
}

.modal span {
  font-weight: 700;
  font-size: 45px;
  height: 70px;
  line-height: 52.73px;
  color: var(--basic-headings);
}

.modal img {
  margin-left: 420px;
  align-self: center;
  opacity: 0.3;
}

.modal img:hover {
  opacity: 1;
}

.appointment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-headings);
  margin-bottom: 10px;
}

.appointment-form {
  width: 760px;
  height: 118px;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 16px;
  padding-top: 16px;
}

.name-field {
  width: 360px;
  height: 50px;
  font: inherit;
  background-color: transparent;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 16px;
}

.appointment .button {
  width: 259px;
  height: 50px;
  border-radius: 3px;
}

/* footer */
.main-footer {
  width: 1157px;
  margin: 40px auto;
  display: flex;
  align-items: center;
}

.add {
  margin-left: 140px;
}

.social-button {
  width: 81px;
  height: 81px;
  background-color: var(--basic-background);
  border-radius: 50%;
  margin-right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-phrase {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-headings);
}

.sale {
  color: var(--footer-text);
  line-height: 22px;
  margin-top: -20px;
}


/* Catalog */

.main-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-headings);
  background-color: var(--basic-background);
}

/* grid */

.content-wrapper {
  outline: 3px solid rgba(50, 0, 140, 0.7);
  outline-offset: -3px;
  display: grid;
  grid-template-columns: 360px auto;
  width: 1157px;
  margin: 0 auto;
}

.main-heading {
  width: 1157px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 100px;
}

.filter {
  outline: 3px solid rgba(255, 0, 0, 0.4);
  outline-offset: -3px;
}

.filter h2 {
  display: none;
}

.filter-range-wrapper,
.patterns-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.filter-range-title {
  color: var(--basic-headings);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.min-price,
.max-price {
  line-height: 22px;
}

.filter-radio,
.filter-checkbox {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.filter-range {
  font-size: 14px;
  line-height: 18px;
}

.radio-checkbox fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.active {
  color: var(--basic-headings);
}

.inactive {
  color: var(--basic-headings);
  opacity: 0.3;
}

.patterns {
  outline: 3px solid rgba(0, 255, 150, 0.8);
  outline-offset: -3px;
}

.patterns h2 {
  display: none;
}

.patterns ul {
  list-style: none;
}

.patterns-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.price {
  display: none;
}

/* пагинация */

.pages {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-gap: 10px;
}

.page-numbers {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-headings);
}

.page-active {
  border: 2px;
  border-color: var(--basic-background);
}

.form {
  width: 1157px;
  margin: 0 auto;
}

.page-inactive {
  background-color: var(--basic-background);
}
